@import '../App'

.header 
    display: flex
    flex-direction: row
    align-items: flex-end
    justify-content: center
    padding: 0.8em 0 1.2em 0
    border-bottom: 1.5px solid $light-grey

.logo
    width: 200px

.slash 
    font-size: 45px
    color: $light-grey
    margin: 0 0.5em

.textHeader
    font-family: $font-regular
    color: $medium-grey
    font-size: 30px
    margin: 0

