@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap')
    
$font-regular: 'Open Sans', sans-serif
$medium-grey: #a3a3a3
$light-grey: #e5e7e6
$blue-navy: #0a1c2b
$baby-powder: #fcfafa

body 
    background-color: $baby-powder

.instructions
    color: $medium-grey
    font-family: $font-regular
    font-weight: 400
    font-size: 18px
    padding: 0 1.5em
    margin: 0.8em 0

.sectionColors
    display: flex
    flex-direction: row
    flex-wrap: wrap
    height: 70vh

@media screen and ( max-width: 500px )
    .instructions
        font-size: 14px

@media screen and ( max-width: 320px )
    .instructions
        font-size: 12px
